<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Agregar Reader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
	<div th:insert="fragments/components  :: header"></div>
	
		<div style="width: 20%; float:left">
        		<b> Menu Principal
			<ul>
				<li><a th:href="@{/readers-menu}">
						<h4>Readers</h4>
					</a></li>
				<li><a th:href="@{/blogs-menu}">
						<h4>Blogs</h4>
					</a></li>
					<li><a th:href="@{/reader-blog-menu}">
						<h4>Reader por Blog</h4>
				</a></li>
			</ul>
   </div>

	<div style="width: 80%; float:right">
	
		       <div class="container my-5">
            <h2 class="mb-5">Nuevo Reader</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/guardar-reader}" th:object="${request}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="pk" class="col-form-label">Pk Reader</label>
                                <input type="text" th:field="*{pkReaderInput}" class="form-control" id="pkReaderInput" readonly placeholder="">
                                <span th:if="${#fields.hasErrors('pkReaderInput')}" th:errors="*{pkReaderInput}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nameInput" class="col-form-label">Name</label>
                                <input type="text" th:field="*{nameInput}" class="form-control" id="nameInput" placeholder="Name">
                                <span th:if="${#fields.hasErrors('nameInput')}" th:errors="*{nameInput}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Agregar">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
	
	
	
	</div>
	
	
    
   </body>
</html>